.l1
{
    
    width: 350px;
    height: 350px;
    margin-left: 300px;
    margin-top: 60px;
    background-image: url("/assets/log.jpg");
}
.l2
{
  padding-top: 100px;
  color: azure;
  font-family: arial;
  margin-left: 40px;
}
input
{
    height: 25px;
    width: 250px;

}
button
{
    width: 100px;
    padding: 10px;
    border: rgb(50, 187, 68);
    margin-left: 10px;
}
#b1:hover
{
    margin-left: 10px;
    background-color: rgb(50, 187, 68);
    color: white;
    
}